RewriteEngine on

# Pretty links
RewriteRule ^user/([^/]+)/?$ user.php?id=$1 [L,QSA,NC]

# Hide .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes


ErrorDocument 404 /error.php?type=404

ErrorDocument 403 /error.php?type=403
